<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; width: 100%">
    <div class="navbar-header">
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
      <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
          <strong><i class="fa fa-building-o" aria-hidden="true"></i> Counterparty Management Tool</strong>
        </div>
      </form>
    </div>
    <ul class="nav navbar-top-links navbar-right" style="color: #fff;">
      <li>
          <a href="#">
              <i class="fa fa-question-circle" aria-hidden="true"></i> Help
          </a>
        </li>
    <li>
      <a href="#">
          <i class="fa fa-id-card" aria-hidden="true"></i>
      </a>
    </li>
    <li>
       
            <img alt="image" class="img-circle" src="assets/images/profile_small.jpg">
      
      </li>
  </ul>

  </nav>
</div>
